body {
  font-family: $font-primary;
}

h1, h2, h3, h4, h5, p, i {
	color: $brand-off-white;
	text-shadow: $text-shadow-light;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	text-align: center;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

h6 {
	font-weight: 400;
}

h1 {
	font-size: 72px;
	line-height: 1;
	letter-spacing: 12px;
	margin: 32px auto;
}

h2 {
  font-size: 48px;
  letter-spacing: 0.24em;
}

h3 {
	font-size: 40px;
	margin-bottom: 24px;
	letter-spacing: 0.24em;
}

h4 {
	font-size: 20px;
  letter-spacing: .085em;
}

h5 {
	font-size: 18px;
  letter-spacing: .085em;
}

h6 {
	font-size: 16px;
  letter-spacing: 2px;
}

p {
	font-size: 20px;
	font-family: $font-secondary;
	line-height: 1.618;
}

hr {
  border: none;
  height: 1px;
  width: 80px;
  margin: 32px auto 36px;
  background: lighten($brand-red, 6%);
}
